<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/style.css">
</head>
<body>
    <div id="wrap">
        <header>
            <div id="blackbar">
                <div class=".col-md-4">
			<img src="{{ site.url }}{{ site.baseurl }}/images/defra_white_one-line.png" with="25%" />
                </div>
		<div class=".col-md-4">
			<p>a</p>
                </div>
		<div class=".col-md-4">
			<h1>Data Manual</h1>
                </div>
		
            </div>
            <nav>
		{% if page.breadcrumbs %}
                <div class="container">
                    <ul class="subnav subnav-data">
	  		{% for crumb in page.breadcrumbs %}
	  		<li><a href="{{ crumb.url }}">{{ crumb.title }}</a></li>
			{% endfor %}
                    </ul>
		</div>
		{% endif %}			
            </nav>
        </header>
        <main>

<div class="container">
	
{{ content }}

{% if page.status contains "draft" %}

	<hr/>
	<p><font color="red"><strong>This is draft content.</strong></font></p>
	
{% endif %}
	
</div>
	 </main>
    </div>
    <footer>
        <div class="liner">
            <div class="container">
                <p> <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"><img src="{{ site.url }}{{ site.baseurl }}/images/ogl-symbol-big.png"
                alt="OGL" height="40em" width="40em"></a> All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/">Open Government Licence v3.0.</a> except where otherwise stated.</p>
            </div>
    		 <div class="container">
        		<p><a href="https://github.com/andjnewman/DDM">Show on GitHub</a></p>
     		</div>
        </div>
    </footer>
</body>
</html>
