<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/style.css">
</head>
<body>
    <div id="wrap">
        <header>
            <div id="blackbar">
                <div class="container">
                    <a class="brand" href="http://data.gov.uk"></a>
                </div>
            </div>
            <nav>
                <div class="container">
                    <h1><a href="{{ site.url }}{{ site.baseurl }}">{{ site.name }}</a></h1>
                </div>
                <div class="container">
                    <ul class="subnav subnav-data">
                        {% assign current_section = page.url | remove_first:'/' | split:"/" | first %}
                        <li><a {% if current_section == "principles" %}class="active"{% endif %} href="{{ site.url }}{{ site.baseurl }}{{ site.data.listing.subpath }}">{{ site.data.listing.title }}</a></li>
                        <li><a {% if current_section == "framework" %}class="active"{% endif %} href="{{ site.url }}{{ site.baseurl }}{{ site.data.publishwhat.subpath }}">{{ site.data.publishwhat.title }}</a></li>
                       <li><a {% if current_section == "guides" %}class="active"{% endif %} href="{{ site.url }}{{ site.baseurl }}{{ site.data.contact-us.subpath }}">{{ site.data.contact-us.title }}</a></li>
                    </ul>
		
                </div>
            </nav>
        </header>
        <main>

		<div class="container">
    {{ content }}
</div>
	 </main>
    </div>
    <footer>
        <div class="liner">
            <div class="container">
                <p> <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"><img src="{{ site.url }}{{ site.baseurl }}/images/ogl-symbol-big.png"
                alt="OGL" height="40em" width="40em"></a> All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/">Open Government Licence v3.0.</a> except where otherwise stated.</p>
            </div>
    		 <div class="container">
        		<p><a href="https://github.com/andjnewman/DDM/blob/gh-pages/{{page.path}}">Show on GitHub</a></p>
     		</div>
        </div>
    </footer>
</body>
</html>
